*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: beige;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 1.5rem;
    max-height: 80%;
    background-color: antiquewhite;
    border: 1px solid transparent;
    border-radius: 2rem;
}

.main-heading{
    margin: 1.4rem 0;
    font-weight: 900;
}

.task-container input{
    border: 1px solid black ;
    border-radius: 1rem;
    height: 2.5rem;
    width: 20rem;
    padding: 1.2rem;
    font-size: 1.4rem;
    margin-right: 1.6rem;
}

#add-task-btn{
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #c4f7ee;   
    font-weight: 400;
    font-size: larger;
    color: #2c2c2c;
    cursor: pointer;
}
#add-task-btn:hover{
    color: white;
    background-color: #142925;
}

#task-list {
    list-style: none;
    width: 80%;
    margin-top: 1.5rem;
    padding: 0;
}

.task-item{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(231, 228, 228);
    padding: 0.8rem 1.2rem;
    margin-bottom: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
}


